<div>
  <h3>Contract form</h3>
  <hr/>
  <form [formGroup]="contractForm">
    <div class="form-group">
      <label
        for="megnevezes"
        class="form-control-label"
      >
        Megnevezes:
      </label>
      <input
        type="text"
        id="megnevezes"
        formControlName="megnevezes"
        name="megnevezes"
        placeholder="Megnevezes"
        class="form-control"

      />

    </div>



    <div class="form-group">
      <label
        for="ertek"
        class="form-control-label"

      >
        Ertek:
      </label>
      <input
        [readonly]="contractForm.value.erv_vege != null"
        type="number"
        id="ertek"
        formControlName="ertek"
        name="ertek"
        class="form-control"

      />

    </div>


    <div class="form-group">
      <label for="erv_kezdete">Ervenyesseg Kezdete:</label>
      <input
        class="form-control"
        formControlName="erv_kezdete"
        id="erv_kezdete"
        name="erv_kezdete"
        type="date"
      >
    </div>

    <div class="form-group">
      <label for="erv_vege">Ervenyesseg Vege:</label>
      <input
        [readonly]="contractForm.value.erv_vege != null"
        class="form-control"
        formControlName="erv_vege"
        id="erv_vege"
        name="erv_vege"
        type="date"
      >



    </div>


    <div class="form-group">
      <label for="ertek" class="form-control-label">Aktiv szerződés:</label>
      <div>
        <input type="radio" id="i" name="radAnswer" formControlName = "aktiv" value="I">
        <label class="form-control-label" for="i">I</label><br>
        <input type="radio" id="n" name="radAnswer" formControlName = "aktiv" value="N">
        <label class="form-control-label" for="n">N</label><br>
      </div>

    </div>

    <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
  </form>
</div>
